In [27]:
import requests
from bs4 import BeautifulSoup # to parse html content
import pandas as pd

In [22]:
url = "https://gcn.gsfc.nasa.gov/amon_icecube_gold_bronze_events.html"

response = requests.get(url)
response.raise_for_status() # check status of website

bs = BeautifulSoup(response.text, 'html.parser')

In [12]:
table = bs.find(lambda tag: tag.name=='table' and tag.has_attr('id') and tag['id']=="AMON ICECUBE_GOLD and _BRONZE EVENTS")

In [36]:
table = bs.find('table', {'border': '2'})
headers = [th.get_text(strip=True) for th in table.find_all('th', limit = 12)[2:]]

['RunNum_EventNum', 'Rev', 'Date', 'Time UT', 'NoticeType', 'RA [deg]', 'Dec [deg]', 'Error90 [arcmin]', 'Error50 [arcmin]', 'Energy']

In [37]:
data = []
for row in table.find_all('tr')[2:]: # <tr> = table row
    columns = row.find_all('td', limit = 10)
    row_data = [col.get_text(strip=True) for col in columns]
    data.append(row_data)
df = pd.DataFrame(data, columns=headers)

In [50]:
filtered_df = df.loc[df['Rev'] == str(1)].drop(['Rev','Time UT'], axis=1)

In [51]:
filtered_df

,RunNum_EventNum,Date,NoticeType,RA [deg],Dec [deg],Error90 [arcmin],Error50 [arcmin],Energy
0,139977_2910365,24/10/16,GOLD,112.3290,-33.5285,52.23,18.59,0.0000e+00
2,139939_8268246,24/10/06,BRONZE,58.3599,+8.3499,41.10,22.34,1.3326e+02
4,139912_46959751,24/09/29,GOLD,180.6599,+18.9200,35.39,19.20,2.6779e+02
6,139735_13003768,24/08/08,BRONZE,55.7700,+31.8299,254.29,147.97,1.2677e+02
8,139685_1723093,24/07/25,BRONZE,60.9500,+49.3100,177.00,100.79,1.0512e+02
...,...,...,...,...,...,...,...,...
267,132910_57145925,19/07/30,GOLD,225.7899,+10.4700,71.10,39.74,2.9881e+02
269,132814_44222682,19/07/12,BRONZE,76.4599,+13.0600,297.59,182.40,1.0867e+02
271,132792_60166398,19/07/04,BRONZE,161.8499,+27.1099,151.79,90.60,1.5499e+02
273,132768_5390846,19/06/29,BRONZE,27.2199,+84.3299,242.40,186.59,1.0767e+02
275,132707_54984442,19/06/19,GOLD,343.2599,+10.7300,162.59,97.79,1.9870e+02